In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import plotly.express as px
from matplotlib.gridspec import GridSpec

import sklearn.preprocessing as skp
import sklearn.cluster as skc

import warnings # ignore warnings
warnings.filterwarnings('ignore')

## Data Gathering

In [2]:
customer_demographics_df = pd.read_csv("./data/Customer_demographics_data.csv") #, encoding='latin1')
customer_demographics_df

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1
0,3824657.0,Male,No,22,No,Healthcare,1.0,Low,4.0,Cat_4
1,3717191.0,Female,Yes,38,Yes,Engineer,NaN,Average,3.0,Cat_4
2,3581921.0,Female,Yes,67,Yes,Engineer,1.0,Low,1.0,Cat_6
3,3759999.0,Male,Yes,67,Yes,Lawyer,0.0,High,2.0,Cat_6
4,3306626.0,Female,Yes,40,Yes,Entertainment,NaN,High,6.0,Cat_6
...,...,...,...,...,...,...,...,...,...,...
8063,NaN,Male,No,22,No,NaN,0.0,Low,7.0,Cat_1
8064,NaN,Male,No,35,No,Executive,3.0,Low,4.0,Cat_4
8065,NaN,Female,No,33,Yes,Healthcare,1.0,Low,1.0,Cat_6
8066,NaN,Female,No,27,Yes,Healthcare,1.0,Low,4.0,Cat_6
8067,NaN,Male,Yes,37,Yes,Executive,0.0,Average,3.0,Cat_4

In [3]:
customer_demographics_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8068 entries, 0 to 8067
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               4372 non-null   float64
 1   Gender           8068 non-null   object
 2   Ever_Married     7928 non-null   object
 3   Age              8068 non-null   int64
 4   Graduated        7990 non-null   object
 5   Profession       7944 non-null   object
 6   Work_Experience  7239 non-null   float64
 7   Spending_Score   8068 non-null   object
 8   Family_Size      7733 non-null   float64
 9   Var_1            7992 non-null   object
dtypes: float64(3), int64(1), object(6)
memory usage: 630.4+ KB

In [4]:
customer_demographics_df.isnull().sum()

ID                 3696
Gender                0
Ever_Married        140
Age                   0
Graduated            78
Profession          124
Work_Experience     829
Spending_Score        0
Family_Size         335
Var_1                76
dtype: int64

In [5]:
invoice_df = pd.read_csv(r'./data/Customer_invoice_data.csv', encoding='latin1')

In [6]:
invoice_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Ã¯Â»Â¿InvoiceNo  541909 non-null  object
 1   StockCode     541909 non-null  object
 2   Description   540455 non-null  object
 3   Quantity      541909 non-null  int64
 4   InvoiceDate   541909 non-null  object
 5   UnitPrice     541909 non-null  float64
 6   CustomerID    406829 non-null  float64
 7   Country       541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [7]:
print(invoice_df.isnull().sum())

Ã¯Â»Â¿InvoiceNo         0
StockCode            0
Description       1454
Quantity             0
InvoiceDate          0
UnitPrice            0
CustomerID      135080
Country              0
dtype: int64

In [8]:
# read in the data (downloaded from Kaggle)
cb_df = pd.read_csv("./data/Customer_behaviour_data_old.csv", delimiter=';')

# print the first 5 rows
cb_df.head()

,account length,location code,user id,credit card info save,push status,add to wishlist,desktop sessions,app sessions,desktop transactions,total product detail views,session duration,promotion clicks,avg order value,sale product views,discount rate per visited products,product detail view per app session,app transactions,add to cart per session,customer service calls,churn
0,128,415,3824657,no,yes,25,265,45,17,110,197,87,"244,7",91,"11,01",10,3,"2,7",1,0
1,107,415,3717191,no,yes,26,162,27,17,123,196,103,"254,4",103,"11,45","13,7",3,"3,7",1,0
2,137,415,3581921,no,no,0,243,41,10,114,121,110,"162,6",104,"7,32","12,2",5,"3,29",0,0
3,84,408,3759999,yes,no,0,299,51,5,71,62,88,"196,9",89,"8,86","6,6",7,"1,78",2,0
4,75,415,3306626,yes,no,0,167,28,13,113,148,122,"186,9",121,"8,41","10,1",3,"2,73",3,0

In [9]:
cb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 20 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   account length                       3333 non-null   int64
 1   location code                        3333 non-null   int64
 2   user id                              3333 non-null   int64
 3   credit card info save                3333 non-null   object
 4   push status                          3333 non-null   object
 5   add to wishlist                      3333 non-null   int64
 6   desktop sessions                     3333 non-null   int64
 7   app sessions                         3333 non-null   int64
 8   desktop transactions                 3333 non-null   int64
 9   total product detail views           3333 non-null   int64
 10  session duration                     3333 non-null   int64
 11  promotion clicks                     3333 non-null   int64
 12  avg order value                      3333 non-null   object
 13  sale product views                   3333 non-null   int64
 14  discount rate per visited products   3333 non-null   object
 15  product detail view per app session  3333 non-null   object
 16  app transactions                     3333 non-null   int64
 17  add to cart per session              3333 non-null   object
 18  customer service calls               3333 non-null   int64
 19  churn                                3333 non-null   int64
dtypes: int64(14), object(6)
memory usage: 520.9+ KB

In [10]:
print(cb_df.isnull().sum())

account length                         0
location code                          0
user id                                0
credit card info save                  0
push status                            0
add to wishlist                        0
desktop sessions                       0
app sessions                           0
desktop transactions                   0
total product detail views             0
session duration                       0
promotion clicks                       0
avg order value                        0
sale product views                     0
discount rate per visited products     0
product detail view per app session    0
app transactions                       0
add to cart per session                0
customer service calls                 0
churn                                  0
dtype: int64

## Data Cleaning

### Customer Demographics Data

#### Missing Value Treatmeant

In [11]:
customer_demographics_df.dropna(subset=["ID"], inplace=True)
customer_demographics_df["ID"]= customer_demographics_df["ID"].astype(int)

In [12]:
customer_demographics_df['Ever_Married'].unique()

array(['No', 'Yes', nan], dtype=object)

In [13]:
customer_demographics_df['Ever_Married'].fillna("Not Available",inplace=True)
customer_demographics_df['Ever_Married'].unique()

array(['No', 'Yes', 'Not Available'], dtype=object)

In [14]:
customer_demographics_df['Graduated'].unique()

array(['No', 'Yes', nan], dtype=object)

In [15]:
customer_demographics_df['Graduated'].fillna("Not Available",inplace=True)
customer_demographics_df['Graduated'].unique()

array(['No', 'Yes', 'Not Available'], dtype=object)

In [16]:
customer_demographics_df['Profession'].unique()

array(['Healthcare', 'Engineer', 'Lawyer', 'Entertainment', 'Artist',
       'Executive', 'Doctor', 'Homemaker', 'Marketing', nan], dtype=object)

In [17]:
customer_demographics_df['Profession'].fillna("Not Available",inplace=True)
customer_demographics_df['Profession'].unique()

array(['Healthcare', 'Engineer', 'Lawyer', 'Entertainment', 'Artist',
       'Executive', 'Doctor', 'Homemaker', 'Marketing', 'Not Available'],
      dtype=object)

In [18]:
customer_demographics_df['Work_Experience'].unique()

array([ 1., nan,  0.,  4.,  9., 12.,  3., 13.,  5.,  8., 14.,  7.,  2.,
        6., 10., 11.])

In [19]:
customer_demographics_df['Work_Experience'].fillna(0,inplace=True)
customer_demographics_df['Work_Experience'] = customer_demographics_df['Work_Experience'].astype(int)

In [20]:
customer_demographics_df['Family_Size'].unique()

array([ 4.,  3.,  1.,  2.,  6., nan,  5.,  8.,  7.,  9.])

In [21]:
customer_demographics_df['Family_Size'].fillna(0,inplace=True)
customer_demographics_df['Family_Size'] = customer_demographics_df['Family_Size'].astype(int)

In [22]:
customer_demographics_df['Var_1'].unique()

array(['Cat_4', 'Cat_6', 'Cat_7', 'Cat_3', 'Cat_1', 'Cat_2', nan, 'Cat_5'],
      dtype=object)

In [23]:
customer_demographics_df['Var_1'].fillna("Not Available",inplace=True)
customer_demographics_df['Var_1'].unique()

array(['Cat_4', 'Cat_6', 'Cat_7', 'Cat_3', 'Cat_1', 'Cat_2',
       'Not Available', 'Cat_5'], dtype=object)

In [24]:
customer_demographics_df.isnull().sum()

ID                 0
Gender             0
Ever_Married       0
Age                0
Graduated          0
Profession         0
Work_Experience    0
Spending_Score     0
Family_Size        0
Var_1              0
dtype: int64

In [25]:
customer_demographics_df.describe()

                 ID          Age  Work_Experience  Family_Size
count  4.372000e+03  4372.000000      4372.000000  4372.000000
mean   3.743270e+06    43.356130         2.392955     2.724611
std    2.762565e+05    16.798144         3.338211     1.582652
min    3.271058e+06    18.000000         0.000000     0.000000
25%    3.502765e+06    30.000000         0.000000     2.000000
50%    3.741760e+06    40.000000         1.000000     2.000000
75%    3.986153e+06    53.000000         4.000000     4.000000
max    4.229964e+06    89.000000        14.000000     9.000000

In [26]:
customer_demographics_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4372 entries, 0 to 4371
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               4372 non-null   int32
 1   Gender           4372 non-null   object
 2   Ever_Married     4372 non-null   object
 3   Age              4372 non-null   int64
 4   Graduated        4372 non-null   object
 5   Profession       4372 non-null   object
 6   Work_Experience  4372 non-null   int32
 7   Spending_Score   4372 non-null   object
 8   Family_Size      4372 non-null   int32
 9   Var_1            4372 non-null   object
dtypes: int32(3), int64(1), object(6)
memory usage: 324.5+ KB

In [27]:
customer_demographics_df['Spending_Score'].unique()

array(['Low', 'Average', 'High'], dtype=object)

#### Checking for Duplicates

customer_demographics_df

In [28]:
customer_demographics_df[customer_demographics_df.duplicated()]

Empty DataFrame
Columns: [ID, Gender, Ever_Married, Age, Graduated, Profession, Work_Experience, Spending_Score, Family_Size, Var_1]
Index: []

### Customer Invoice Data

#### Missing Value Treatment

In [29]:
invoice_df.columns = ['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country']

In [30]:
# dropping customerID rows with null values
invoice_df = invoice_df.dropna()

In [31]:
# checking for missing data
print(invoice_df.isnull().sum())

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [32]:
#### Checking for Duplicates

In [33]:
duplicates = invoice_df[invoice_df.duplicated()]

# Display duplicate rows
print("Duplicate Rows:")
print(duplicates)

Duplicate Rows:
       InvoiceNo StockCode                        Description  Quantity  \
517       536409     21866        UNION JACK FLAG LUGGAGE TAG         1
527       536409     22866      HAND WARMER SCOTTY DOG DESIGN         1
537       536409     22900    SET 2 TEA TOWELS I LOVE LONDON          1
539       536409     22111       SCOTTIE DOG HOT WATER BOTTLE         1
555       536412     22327  ROUND SNACK BOXES SET OF 4 SKULLS         1
...          ...       ...                                ...       ...
541675    581538     22068        BLACK PIRATE TREASURE CHEST         1
541689    581538     23318     BOX OF 6 MINI VINTAGE CRACKERS         1
541692    581538     22992             REVOLVER WOODEN RULER          1
541699    581538     22694                       WICKER STAR          1
541701    581538     23343       JUMBO BAG VINTAGE CHRISTMAS          1

             InvoiceDate  UnitPrice  CustomerID         Country
517     12/01/2010 11:45       1.25   4168428.0  United Kingdom
527     12/01/2010 11:45       2.10   4168428.0  United Kingdom
537     12/01/2010 11:45       2.95   4168428.0  United Kingdom
539     12/01/2010 11:45       4.95   4168428.0  United Kingdom
555     12/01/2010 11:49       2.95   3703359.0  United Kingdom
...                  ...        ...         ...             ...
541675  12/09/2011 11:34       0.39   3637802.0  United Kingdom
541689  12/09/2011 11:34       2.49   3637802.0  United Kingdom
541692  12/09/2011 11:34       1.95   3637802.0  United Kingdom
541699  12/09/2011 11:34       2.10   3637802.0  United Kingdom
541701  12/09/2011 11:34       2.08   3637802.0  United Kingdom

[5225 rows x 8 columns]

In [34]:
# dropping the duplicated rows
invoice_df = invoice_df[~invoice_df.duplicated(keep=False)]

In [35]:
invoice_df['InvoiceNo'] = pd.to_numeric(invoice_df['InvoiceNo'], errors='coerce', downcast='integer')

In [36]:
# Handle NaN values (replace with 0 in this example)
invoice_df['InvoiceNo'] = invoice_df['InvoiceNo'].fillna(0)

# Handle floating-point values (round in this example)
invoice_df['InvoiceNo'] = invoice_df['InvoiceNo'].round().astype(int)

In [37]:
# Handle NaN values (replace with 0 in this example)
invoice_df['InvoiceNo'] = invoice_df['InvoiceNo'].fillna(0)

In [38]:
# Count the number of rows with 0 values in the 'InvoiceNo' column
num_rows_with_zero = (invoice_df['InvoiceNo'] == 0).sum()

# Display the number of rows with 0 values
print(f"Number of rows with 0 values in 'InvoiceNo': {num_rows_with_zero}")

Number of rows with 0 values in 'InvoiceNo': 8844

In [39]:
# deleting the rows with 0 invoiceno as 0
invoice_df = invoice_df[invoice_df['InvoiceNo'] != 0]

In [40]:
# Specify the column name you want to clean
column_to_clean = 'InvoiceNo'

# Convert the column to string type
invoice_df.loc[:, column_to_clean] = invoice_df[column_to_clean].astype(str)

# Remove leading and trailing spaces
invoice_df.loc[:, column_to_clean] = invoice_df[column_to_clean].str.strip()

# Replace consecutive spaces with a single space
invoice_df.loc[:, column_to_clean] = invoice_df[column_to_clean].str.replace('\s{2,}', ' ', regex=True)

In [41]:
# remove extra space at the end of a text in a column
invoice_df.loc[:, column_to_clean] = invoice_df[column_to_clean].str.rstrip()

In [42]:
invoice_df.loc[:, 'Quantity'] = pd.to_numeric(invoice_df.loc[:, 'Quantity'], errors='coerce', downcast='integer')

In [43]:
invoice_df.loc[:, 'CustomerID'] = pd.to_numeric(invoice_df.loc[:, 'CustomerID'], errors='coerce', downcast='integer')

In [44]:
invoice_df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/01/2010 08:26,2.55,3824657.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/01/2010 08:26,3.39,3824657.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/01/2010 08:26,2.75,3824657.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/01/2010 08:26,3.39,3824657.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/01/2010 08:26,3.39,3824657.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/09/2011 12:50,0.85,4104882.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/09/2011 12:50,2.10,4104882.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/09/2011 12:50,4.15,4104882.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/09/2011 12:50,4.15,4104882.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/09/2011 12:50,4.95,4104882.0,France

### Customer Behaviour data

#### Missing Value Treatmeant

In [45]:
# Rename columns to make them more 'pythonic' by replacing spaces with underscores
cb_df.columns = cb_df.columns.str.replace(' ', '_')

cb_df.columns

Index(['account_length', 'location_code', 'user_id', 'credit_card_info_save',
       'push_status', 'add_to_wishlist', 'desktop_sessions', 'app_sessions',
       'desktop_transactions', 'total_product_detail_views',
       'session_duration', 'promotion_clicks', 'avg_order_value',
       'sale_product_views', 'discount_rate_per_visited_products',
       'product_detail_view_per_app_session', 'app_transactions',
       'add_to_cart_per_session', 'customer_service_calls', 'churn'],
      dtype='object')

In [46]:
# change the data-type of the 4 columns to float
cb_df['avg_order_value'] = cb_df['avg_order_value'].replace(',','.', regex=True).astype(float)
cb_df['discount_rate_per_visited_products'] = cb_df['discount_rate_per_visited_products'].replace(',','.', regex=True).astype(float)
cb_df['add_to_cart_per_session'] = cb_df['add_to_cart_per_session'].replace(',','.', regex=True).astype(float)
cb_df['product_detail_view_per_app_session'] = cb_df['product_detail_view_per_app_session'].replace(',','.', regex=True).astype(float)

cb_df.dtypes

account_length                           int64
location_code                            int64
user_id                                  int64
credit_card_info_save                   object
push_status                             object
add_to_wishlist                          int64
desktop_sessions                         int64
app_sessions                             int64
desktop_transactions                     int64
total_product_detail_views               int64
session_duration                         int64
promotion_clicks                         int64
avg_order_value                        float64
sale_product_views                       int64
discount_rate_per_visited_products     float64
product_detail_view_per_app_session    float64
app_transactions                         int64
add_to_cart_per_session                float64
customer_service_calls                   int64
churn                                    int64
dtype: object

In [47]:
# Check missing values and sort data by descending order
cb_df.isnull().sum().sort_values(ascending=False)

account_length                         0
location_code                          0
customer_service_calls                 0
add_to_cart_per_session                0
app_transactions                       0
product_detail_view_per_app_session    0
discount_rate_per_visited_products     0
sale_product_views                     0
avg_order_value                        0
promotion_clicks                       0
session_duration                       0
total_product_detail_views             0
desktop_transactions                   0
app_sessions                           0
desktop_sessions                       0
add_to_wishlist                        0
push_status                            0
credit_card_info_save                  0
user_id                                0
churn                                  0
dtype: int64

#### Checking for duplicates

In [48]:
cb_df[cb_df.duplicated()]

Empty DataFrame
Columns: [account_length, location_code, user_id, credit_card_info_save, push_status, add_to_wishlist, desktop_sessions, app_sessions, desktop_transactions, total_product_detail_views, session_duration, promotion_clicks, avg_order_value, sale_product_views, discount_rate_per_visited_products, product_detail_view_per_app_session, app_transactions, add_to_cart_per_session, customer_service_calls, churn]
Index: []

### Combining Datasets on Customer_ID

In [49]:
# preprocessed_data = customer_demographics_df.merge(invoice_df, on = 'Name', how = 'left')
preprocessed_data = pd.merge(customer_demographics_df, invoice_df, left_on='ID', right_on='CustomerID', how='inner')

In [50]:
preprocessed_data

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,3824657,Male,No,22,No,Healthcare,1,Low,4,Cat_4,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/01/2010 08:26,2.55,3824657.0,United Kingdom
1,3824657,Male,No,22,No,Healthcare,1,Low,4,Cat_4,536365,71053,WHITE METAL LANTERN,6,12/01/2010 08:26,3.39,3824657.0,United Kingdom
2,3824657,Male,No,22,No,Healthcare,1,Low,4,Cat_4,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/01/2010 08:26,2.75,3824657.0,United Kingdom
3,3824657,Male,No,22,No,Healthcare,1,Low,4,Cat_4,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/01/2010 08:26,3.39,3824657.0,United Kingdom
4,3824657,Male,No,22,No,Healthcare,1,Low,4,Cat_4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/01/2010 08:26,3.39,3824657.0,United Kingdom
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
616224,4004344,Male,Yes,42,Yes,Entertainment,0,Average,2,Cat_4,564434,85062,PEARL CRYSTAL PUMPKIN T-LIGHT HLDR,48,8/25/2011 11:59,1.45,4004344.0,United Kingdom
616225,4004344,Male,Yes,42,Yes,Entertainment,0,Average,2,Cat_4,564434,22173,METAL 4 HOOK HANGER FRENCH CHATEAU,8,8/25/2011 11:59,2.95,4004344.0,United Kingdom
616226,4004344,Male,Yes,42,Yes,Entertainment,0,Average,2,Cat_4,564434,21770,OPEN CLOSED METAL SIGN,2,8/25/2011 11:59,4.95,4004344.0,United Kingdom
616227,4004344,Male,Yes,42,Yes,Entertainment,0,Average,2,Cat_4,564434,22671,FRENCH LAUNDRY SIGN BLUE METAL,12,8/25/2011 11:59,1.65,4004344.0,United Kingdom
616228,4004344,Male,Yes,42,Yes,Entertainment,0,Average,2,Cat_4,564434,22178,VICTORIAN GLASS HANGING T-LIGHT,96,8/25/2011 11:59,1.06,4004344.0,United Kingdom

In [51]:
preprocessed_data = pd.merge(preprocessed_data, cb_df, left_on='ID', right_on='user_id', how='inner')

In [52]:
preprocessed_data

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,...,session_duration,promotion_clicks,avg_order_value,sale_product_views,discount_rate_per_visited_products,product_detail_view_per_app_session,app_transactions,add_to_cart_per_session,customer_service_calls,churn
0,3824657,Male,No,22,No,Healthcare,1,Low,4,Cat_4,...,197,87,244.7,91,11.01,10.0,3,2.7,1,0
1,3824657,Male,No,22,No,Healthcare,1,Low,4,Cat_4,...,197,87,244.7,91,11.01,10.0,3,2.7,1,0
2,3824657,Male,No,22,No,Healthcare,1,Low,4,Cat_4,...,197,87,244.7,91,11.01,10.0,3,2.7,1,0
3,3824657,Male,No,22,No,Healthcare,1,Low,4,Cat_4,...,197,87,244.7,91,11.01,10.0,3,2.7,1,0
4,3824657,Male,No,22,No,Healthcare,1,Low,4,Cat_4,...,197,87,244.7,91,11.01,10.0,3,2.7,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
616224,4004344,Male,Yes,42,Yes,Entertainment,0,Average,2,Cat_4,...,266,82,241.4,77,10.86,13.7,4,3.7,0,0
616225,4004344,Male,Yes,42,Yes,Entertainment,0,Average,2,Cat_4,...,266,82,241.4,77,10.86,13.7,4,3.7,0,0
616226,4004344,Male,Yes,42,Yes,Entertainment,0,Average,2,Cat_4,...,266,82,241.4,77,10.86,13.7,4,3.7,0,0
616227,4004344,Male,Yes,42,Yes,Entertainment,0,Average,2,Cat_4,...,266,82,241.4,77,10.86,13.7,4,3.7,0,0
616228,4004344,Male,Yes,42,Yes,Entertainment,0,Average,2,Cat_4,...,266,82,241.4,77,10.86,13.7,4,3.7,0,0

## EDA